{% extends "base.html" %}

{% block title %}TouchMyTab{% endblock %}

{% block content %}
  <div id="mobileNavBar">
    <div class="display-table-cell">
      <a class="menu-toggle mobileNavBar-link">Menu</a>
    </div>
    <div class="display-table-cell">
      <a href="/cart" class="cart-toggle mobileNavBar-link">
        <span class="icon icon-cart"></span>
        Cart
      </a>
    </div>
  </div>

  <main class="wrapper main-content" role="main">

    
  <div class="flexslider" id="heroSlider" data-auto="true" data-rate="7000">
    <ul class="slides">

      
        
        
        
        
        
          <li>
            <a href="/collections/dslr-cameras" class="slide-link">
              <img src="//cdn.shopify.com/s/files/1/0543/1637/t/10/assets/slide_1.jpg?1995" alt="slide_1_alt.jpg" />
            </a>
          </li>
        
      
        
        
        
        
        
          <li>
            <a href="/collections/dslr-cameras" class="slide-link">
              <img src="//cdn.shopify.com/s/files/1/0543/1637/t/10/assets/slide_2.jpg?1995" alt="slide_2_alt.jpg" />
            </a>
          </li>
        
      
        
        
        
        
        
      
        
        
        
        
        
      
        
        
        
        
        
      
        
        
        
        
        
      
    </ul>
  </div>




  <div class="section-header">
    <h2 class="h1 section-header--left">Shop For</h2>
    <div class="section-header--right">
      <a href="/collections">More categories &rsaquo;</a>
    </div>
  </div>
  <div class="grid-uniform text-center row-negative-bottom">

    

    

    

    
      
        
        



<div class="grid-item small--one-half medium--one-third large--one-sixth">

  

  <a href="/collections/dslr-cameras" title="Browse our DSLR Cameras collection" class="featured-box">
    <div class="featured-box--inner">
      <div class="featured-box--image">
        
          <img src="//cdn.shopify.com/s/files/1/0543/1637/products/supplyb0096s3_433e8a91-70a9-48fc-bd6c-67ea5a5ff476_medium.jpeg?v=1406642518" alt="DSLR Cameras" />
        
      </div>
    </div>

    <span class="featured-box--title">DSLR Cameras</span>
  </a>

</div>

      
      
        
        



<div class="grid-item small--one-half medium--one-third large--one-sixth">

  

  <a href="/collections/point-shoot" title="Browse our Point &amp; Shoot collection" class="featured-box">
    <div class="featured-box--inner">
      <div class="featured-box--image">
        
          <img src="//cdn.shopify.com/s/files/1/0543/1637/products/10282813_3_8cf4eb45-0405-4890-b662-5eed11357361_medium.jpeg?v=1406642534" alt="Point &amp;amp; Shoot" />
        
      </div>
    </div>

    <span class="featured-box--title">Point &amp; Shoot</span>
  </a>

</div>

      
      
        
        



<div class="grid-item small--one-half medium--one-third large--one-sixth">

  

  <a href="/collections/computers" title="Browse our Computers collection" class="featured-box">
    <div class="featured-box--inner">
      <div class="featured-box--image">
        
          <img src="//cdn.shopify.com/s/files/1/0543/1637/collections/computer_medium.jpeg?v=1406662599" alt="Computers" />
        
      </div>
    </div>

    <span class="featured-box--title">Computers</span>
  </a>

</div>

      
      
        
        



<div class="grid-item small--one-half medium--one-third large--one-sixth">

  

  <a href="/collections/accessories" title="Browse our Accessories collection" class="featured-box">
    <div class="featured-box--inner">
      <div class="featured-box--image">
        
          <img src="//cdn.shopify.com/s/files/1/0543/1637/products/10186516_c69661aa-d65d-4a85-87ea-7441d1347bf0_medium.jpeg?v=1406642515" alt="Accessories" />
        
      </div>
    </div>

    <span class="featured-box--title">Accessories</span>
  </a>

</div>

      
      
        
        



<div class="grid-item small--one-half medium--one-third large--one-sixth">

  

  <a href="/collections/printers" title="Browse our Printers collection" class="featured-box">
    <div class="featured-box--inner">
      <div class="featured-box--image">
        
          <img src="//cdn.shopify.com/s/files/1/0543/1637/products/printer1_91fa275a-769d-4376-8477-66865aae6796_medium.jpeg?v=1406642528" alt="Printers" />
        
      </div>
    </div>

    <span class="featured-box--title">Printers</span>
  </a>

</div>

      
      
        
        



<div class="grid-item small--one-half medium--one-third large--one-sixth">

  

  <a href="/collections/lenses" title="Browse our Lenses collection" class="featured-box">
    <div class="featured-box--inner">
      <div class="featured-box--image">
        
          <img src="//cdn.shopify.com/s/files/1/0543/1637/products/10093802_medium.jpeg?v=1403198588" alt="Lenses" />
        
      </div>
    </div>

    <span class="featured-box--title">Lenses</span>
  </a>

</div>

      
    

    
  </div>




  <hr>
  
  

  
    






<div class="section-header">
  
    <p class="h1 section-header--left">Top Sellers</p>
  
  
    <div class="section-header--right">
      <a href="/collections/top-sellers">More top sellers &rsaquo;</a>
    </div>
  
</div>

<div class="grid-uniform row-negative-bottom">
  
    
    
    












<div class="grid-item large--one-fifth medium--one-third small--one-half on-sale">

  <a href="/collections/top-sellers/products/canon-eos-rebel-t3-12-2mp-dslr-camera-with-18-55mm-lens-camera-case-memory-card" class="product-grid-item">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        
        <img src="//cdn.shopify.com/s/files/1/0543/1637/products/supplyb0096s3_433e8a91-70a9-48fc-bd6c-67ea5a5ff476_compact.jpeg?v=1406642518" alt="Canon EOS Rebel T3 12.2MP DSLR Camera">
      </div>
    </div>

    <p>Canon EOS Rebel T3 12.2MP DSLR Camera</p>

    <div class="product-item--price">
      <span class="h1 medium--left">
        
  452<sup>97</sup>


      </span>

      
        <span class="sale-tag medium--right has-reviews">
          
          
          Save

  $267<sup>02</sup>




        </span>
      
    </div>

    
      <span class="shopify-product-reviews-badge" data-id="310564147"></span>
    
  </a>

</div>

  
    
    
    












<div class="grid-item large--one-fifth medium--one-third small--one-half">

  <a href="/collections/top-sellers/products/arbitron-2001lx" class="product-grid-item">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        
        <img src="//cdn.shopify.com/s/files/1/0543/1637/products/desktop6_a676fa2a-5b1c-4dde-8b8e-e8c40ef7aa32_compact.jpeg?v=1406642513" alt="Arbitron 2001LX">
      </div>
    </div>

    <p>Arbitron 2001LX</p>

    <div class="product-item--price">
      <span class="h1 medium--left">
        
  899<sup>99</sup>


      </span>

      
    </div>

    
      <span class="shopify-product-reviews-badge" data-id="330383727"></span>
    
  </a>

</div>

  
    
    
    












<div class="grid-item large--one-fifth medium--one-third small--one-half">

  <a href="/collections/top-sellers/products/canon-eos-5d-6d-7d-60d-70d-dslr-accessory-kit" class="product-grid-item">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        
        <img src="//cdn.shopify.com/s/files/1/0543/1637/products/10186516_c69661aa-d65d-4a85-87ea-7441d1347bf0_compact.jpeg?v=1406642515" alt="Canon EOS 5D/6D/7D/60D/70D DSLR Accessory Kit">
      </div>
    </div>

    <p>Canon EOS 5D/6D/7D/60D/70D DSLR Accessory Kit</p>

    <div class="product-item--price">
      <span class="h1 medium--left">
        
  179<sup>99</sup>


      </span>

      
    </div>

    
      <span class="shopify-product-reviews-badge" data-id="310564139"></span>
    
  </a>

</div>

  
    
    
    












<div class="grid-item large--one-fifth medium--one-third small--one-half">

  <a href="/collections/top-sellers/products/nikon-coolpix-16mp-34x-optical-zoom-digital-camera-red" class="product-grid-item">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        
        <img src="//cdn.shopify.com/s/files/1/0543/1637/products/10282813_3_8cf4eb45-0405-4890-b662-5eed11357361_compact.jpeg?v=1406642534" alt="Nikon COOLPIX 16MP 34X Optical Zoom Digital Camera - Red">
      </div>
    </div>

    <p>Nikon COOLPIX 16MP 34X Optical Zoom Digital Camera - Red</p>

    <div class="product-item--price">
      <span class="h1 medium--left">
        
  279<sup>99</sup>


      </span>

      
    </div>

    
      <span class="shopify-product-reviews-badge" data-id="310564167"></span>
    
  </a>

</div>

  
    
    
    












<div class="grid-item large--one-fifth medium--one-third small--one-half on-sale">

  <a href="/collections/top-sellers/products/golden-delicious-v12" class="product-grid-item">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        
        <img src="//cdn.shopify.com/s/files/1/0543/1637/products/imac2_8827b070-63c0-48b9-98b4-f30abfbb3d1c_compact.jpeg?v=1406642527" alt="Golden Delicious v12">
      </div>
    </div>

    <p>Golden Delicious v12</p>

    <div class="product-item--price">
      <span class="h1 medium--left">
        
  799<sup>99</sup>


      </span>

      
        <span class="sale-tag medium--right has-reviews">
          
          
          Save

  $100<sup>00</sup>




        </span>
      
    </div>

    
      <span class="shopify-product-reviews-badge" data-id="330383915"></span>
    
  </a>

</div>

  
</div>

  



  <hr>
  
  
  






<div class="section-header">
  
    <p class="h1 section-header--left">Sale items</p>
  
  
    <div class="section-header--right">
      <a href="/collections/sale-items">More sale items &rsaquo;</a>
    </div>
  
</div>

<div class="grid-uniform row-negative-bottom">
  
    
    
    












<div class="grid-item large--one-fifth medium--one-third small--one-half on-sale">

  <a href="/collections/sale-items/products/arbitron-2000" class="product-grid-item">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        
        <img src="//cdn.shopify.com/s/files/1/0543/1637/products/desktop2_17e6d40f-1d4d-4851-9ff3-2f204d6b319a_compact.jpeg?v=1406642511" alt="Arbitron 2000">
      </div>
    </div>

    <p>Arbitron 2000</p>

    <div class="product-item--price">
      <span class="h1 medium--left">
        
  499<sup>99</sup>


      </span>

      
        <span class="sale-tag medium--right has-reviews">
          
          
          Save

  $100<sup>00</sup>




        </span>
      
    </div>

    
      <span class="shopify-product-reviews-badge" data-id="330383699"></span>
    
  </a>

</div>

  
    
    
    












<div class="grid-item large--one-fifth medium--one-third small--one-half on-sale">

  <a href="/collections/sale-items/products/canon-ef-s-55-250mm-f-4-5-6-is-lens" class="product-grid-item">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        
        <img src="//cdn.shopify.com/s/files/1/0543/1637/products/10093802_compact.jpeg?v=1403198588" alt="Canon EF-S 55-250mm f/4-5.6 IS Lens">
      </div>
    </div>

    <p>Canon EF-S 55-250mm f/4-5.6 IS Lens</p>

    <div class="product-item--price">
      <span class="h1 medium--left">
        
  249<sup>99</sup>


      </span>

      
        <span class="sale-tag medium--right has-reviews">
          
          
          Save

  $50<sup>00</sup>




        </span>
      
    </div>

    
      <span class="shopify-product-reviews-badge" data-id="310564135"></span>
    
  </a>

</div>

  
    
    
    












<div class="grid-item large--one-fifth medium--one-third small--one-half on-sale">

  <a href="/collections/sale-items/products/canon-ef" class="product-grid-item">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        
        <img src="//cdn.shopify.com/s/files/1/0543/1637/products/10093802_cc1e1f5e-e110-4ff7-a4a3-3b1131c73711_compact.jpeg?v=1406642514" alt="Canon EF-S 55-250mm f/4-5.6 IS Lens">
      </div>
    </div>

    <p>Canon EF-S 55-250mm f/4-5.6 IS Lens</p>

    <div class="product-item--price">
      <span class="h1 medium--left">
        
  249<sup>99</sup>


      </span>

      
        <span class="sale-tag medium--right has-reviews">
          
          
          Save

  $50<sup>00</sup>




        </span>
      
    </div>

    
      <span class="shopify-product-reviews-badge" data-id="330383739"></span>
    
  </a>

</div>

  
    
    
    












<div class="grid-item large--one-fifth medium--one-third small--one-half on-sale">

  <a href="/collections/sale-items/products/canon-eos-rebel-t3-12-2mp-dslr-camera-with-18-55mm-lens-camera-case-memory-card" class="product-grid-item">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        
        <img src="//cdn.shopify.com/s/files/1/0543/1637/products/supplyb0096s3_433e8a91-70a9-48fc-bd6c-67ea5a5ff476_compact.jpeg?v=1406642518" alt="Canon EOS Rebel T3 12.2MP DSLR Camera">
      </div>
    </div>

    <p>Canon EOS Rebel T3 12.2MP DSLR Camera</p>

    <div class="product-item--price">
      <span class="h1 medium--left">
        
  452<sup>97</sup>


      </span>

      
        <span class="sale-tag medium--right has-reviews">
          
          
          Save

  $267<sup>02</sup>




        </span>
      
    </div>

    
      <span class="shopify-product-reviews-badge" data-id="310564147"></span>
    
  </a>

</div>

  
    
    
    












<div class="grid-item large--one-fifth medium--one-third small--one-half on-sale">

  <a href="/collections/sale-items/products/canon-rebel-t3i-18mp-digital-slr-camera-with-18-55mm-75-300mm-lens-kit" class="product-grid-item">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        
        <img src="//cdn.shopify.com/s/files/1/0543/1637/products/supplyb0096s4_compact.jpeg?v=1403198591" alt="Canon Rebel T3i 18MP Digital SLR Camera With 18-55mm/75-300mm Lens Kit">
      </div>
    </div>

    <p>Canon Rebel T3i 18MP Digital SLR Camera With 18-55mm/75-300mm Lens Kit</p>

    <div class="product-item--price">
      <span class="h1 medium--left">
        
  599<sup>99</sup>


      </span>

      
        <span class="sale-tag medium--right has-reviews">
          
          
          Save

  $210<sup>00</sup>




        </span>
      
    </div>

    
      <span class="shopify-product-reviews-badge" data-id="310564151"></span>
    
  </a>

</div>

  
</div>




  <hr>
  
  
  






<div class="section-header">
  
    <p class="h1 section-header--left">Computers</p>
  
  
    <div class="section-header--right">
      <a href="/collections/computers">More computers &rsaquo;</a>
    </div>
  
</div>

<div class="grid-uniform row-negative-bottom">
  
    
    
    












<div class="grid-item large--one-fifth medium--one-third small--one-half on-sale">

  <a href="/collections/computers/products/arbitron-2000" class="product-grid-item">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        
        <img src="//cdn.shopify.com/s/files/1/0543/1637/products/desktop2_17e6d40f-1d4d-4851-9ff3-2f204d6b319a_compact.jpeg?v=1406642511" alt="Arbitron 2000">
      </div>
    </div>

    <p>Arbitron 2000</p>

    <div class="product-item--price">
      <span class="h1 medium--left">
        
  499<sup>99</sup>


      </span>

      
        <span class="sale-tag medium--right has-reviews">
          
          
          Save

  $100<sup>00</sup>




        </span>
      
    </div>

    
      <span class="shopify-product-reviews-badge" data-id="330383699"></span>
    
  </a>

</div>

  
    
    
    












<div class="grid-item large--one-fifth medium--one-third small--one-half">

  <a href="/collections/computers/products/arbitron-2000si" class="product-grid-item">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        
        <img src="//cdn.shopify.com/s/files/1/0543/1637/products/desktop3_ff63afce-f3d6-43ee-8967-8a137523de28_compact.jpeg?v=1406642512" alt="Arbitron 2000 Superleggara">
      </div>
    </div>

    <p>Arbitron 2000 Superleggara</p>

    <div class="product-item--price">
      <span class="h1 medium--left">
        
  199<sup>99</sup>


      </span>

      
    </div>

    
      <span class="shopify-product-reviews-badge" data-id="330383711"></span>
    
  </a>

</div>

  
    
    
    












<div class="grid-item large--one-fifth medium--one-third small--one-half">

  <a href="/collections/computers/products/arbitron-2001lx" class="product-grid-item">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        
        <img src="//cdn.shopify.com/s/files/1/0543/1637/products/desktop6_a676fa2a-5b1c-4dde-8b8e-e8c40ef7aa32_compact.jpeg?v=1406642513" alt="Arbitron 2001LX">
      </div>
    </div>

    <p>Arbitron 2001LX</p>

    <div class="product-item--price">
      <span class="h1 medium--left">
        
  899<sup>99</sup>


      </span>

      
    </div>

    
      <span class="shopify-product-reviews-badge" data-id="330383727"></span>
    
  </a>

</div>

  
    
    
    












<div class="grid-item large--one-fifth medium--one-third small--one-half on-sale">

  <a href="/collections/computers/products/golden-delicious-portable" class="product-grid-item">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        
        <img src="//cdn.shopify.com/s/files/1/0543/1637/products/laptop1_4c2fe67c-17f1-4b4e-99cb-400a6338da5d_compact.jpeg?v=1406642524" alt="Golden Delicious Portable">
      </div>
    </div>

    <p>Golden Delicious Portable</p>

    <div class="product-item--price">
      <span class="h1 medium--left">
        
  1,699<sup>99</sup>


      </span>

      
        <span class="sale-tag medium--right has-reviews">
          
          
          Save

  $200<sup>00</sup>




        </span>
      
    </div>

    
      <span class="shopify-product-reviews-badge" data-id="330383875"></span>
    
  </a>

</div>

  
    
    
    












<div class="grid-item large--one-fifth medium--one-third small--one-half on-sale">

  <a href="/collections/computers/products/golden-delicious-v12" class="product-grid-item">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        
        <img src="//cdn.shopify.com/s/files/1/0543/1637/products/imac2_8827b070-63c0-48b9-98b4-f30abfbb3d1c_compact.jpeg?v=1406642527" alt="Golden Delicious v12">
      </div>
    </div>

    <p>Golden Delicious v12</p>

    <div class="product-item--price">
      <span class="h1 medium--left">
        
  799<sup>99</sup>


      </span>

      
        <span class="sale-tag medium--right has-reviews">
          
          
          Save

  $100<sup>00</sup>




        </span>
      
    </div>

    
      <span class="shopify-product-reviews-badge" data-id="330383915"></span>
    
  </a>

</div>

  
</div>




  <hr>
  
  
  






<div class="section-header">
  
    <p class="h1 section-header--left">Accessories</p>
  
  
    <div class="section-header--right">
      <a href="/collections/accessories">More accessories &rsaquo;</a>
    </div>
  
</div>

<div class="grid-uniform row-negative-bottom">
  
    
    
    












<div class="grid-item large--one-fifth medium--one-third small--one-half">

  <a href="/collections/accessories/products/canon-eos-5d-6d-7d-60d-70d-dslr-accessory-kit" class="product-grid-item">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        
        <img src="//cdn.shopify.com/s/files/1/0543/1637/products/10186516_c69661aa-d65d-4a85-87ea-7441d1347bf0_compact.jpeg?v=1406642515" alt="Canon EOS 5D/6D/7D/60D/70D DSLR Accessory Kit">
      </div>
    </div>

    <p>Canon EOS 5D/6D/7D/60D/70D DSLR Accessory Kit</p>

    <div class="product-item--price">
      <span class="h1 medium--left">
        
  179<sup>99</sup>


      </span>

      
    </div>

    
      <span class="shopify-product-reviews-badge" data-id="310564139"></span>
    
  </a>

</div>

  
    
    
    












<div class="grid-item large--one-fifth medium--one-third small--one-half on-sale">

  <a href="/collections/accessories/products/intertubes-ethernet-cable" class="product-grid-item">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        
        <img src="//cdn.shopify.com/s/files/1/0543/1637/products/a_mcssp6_green_series_c616b456-3fab-4ecd-a92e-24a99b086899_compact.jpeg?v=1406642532" alt="Intertubes Ethernet Cable">
      </div>
    </div>

    <p>Intertubes Ethernet Cable</p>

    <div class="product-item--price">
      <span class="h1 medium--left">
        
  4<sup>99</sup>


      </span>

      
        <span class="sale-tag medium--right has-reviews">
          
          
          Save

  $2<sup>00</sup>




        </span>
      
    </div>

    
      <span class="shopify-product-reviews-badge" data-id="330384003"></span>
    
  </a>

</div>

  
    
    
    












<div class="grid-item large--one-fifth medium--one-third small--one-half on-sale">

  <a href="/collections/accessories/products/sandisk-extreme-plus-16gb-80mb-s-sdhc-class-10-uhs-i-memory-card" class="product-grid-item">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        
        <img src="//cdn.shopify.com/s/files/1/0543/1637/products/10262057_2b54c49e-ed31-48ae-b7ef-3c354dfc95ad_compact.jpeg?v=1406642541" alt="SanDisk Extreme Plus 16GB 80MB/s SDHC Class 10 UHS-I Memory Card">
      </div>
    </div>

    <p>SanDisk Extreme Plus 16GB 80MB/s SDHC Class 10 UHS-I Memory Card</p>

    <div class="product-item--price">
      <span class="h1 medium--left">
        
  19<sup>99</sup>


      </span>

      
        <span class="sale-tag medium--right has-reviews">
          
          
          Save

  $10<sup>00</sup>




        </span>
      
    </div>

    
      <span class="shopify-product-reviews-badge" data-id="310564183"></span>
    
  </a>

</div>

  
    
    
    












<div class="grid-item large--one-fifth medium--one-third small--one-half on-sale">

  <a href="/collections/accessories/products/sandisk-extreme-plus-16gb-80mb-s-sdhc-class-10-uhs-i-memory-card2" class="product-grid-item">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        
        <img src="//cdn.shopify.com/s/files/1/0543/1637/products/10262057_2f16caa2-1373-467d-b836-69122673e70f_compact.jpeg?v=1406642542" alt="SanDisk Extreme Plus 16GB 80MB/s SDHC Class 10 UHS-I Memory Card">
      </div>
    </div>

    <p>SanDisk Extreme Plus 16GB 80MB/s SDHC Class 10 UHS-I Memory Card</p>

    <div class="product-item--price">
      <span class="h1 medium--left">
        
  29<sup>99</sup>


      </span>

      
        <span class="sale-tag medium--right has-reviews">
          
          
          Save

  $30<sup>00</sup>




        </span>
      
    </div>

    
      <span class="shopify-product-reviews-badge" data-id="310564187"></span>
    
  </a>

</div>

  
</div>




  </main>




  <script src="//cdn.shopify.com/s/files/1/0543/1637/t/10/assets/jquery.flexslider.min.js?1995" type="text/javascript"></script>


  <script src="//cdn.shopify.com/s/files/1/0543/1637/t/10/assets/shop.js?1995" type="text/javascript"></script>

{% endblock %}