{% extends "base.html" %}

{% block title %}Privacy Policy &ndash; TouchMyTab{% endblock %}
{% block content %}
 <main class="wrapper main-content" role="main">

    




<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
  <a href="/" title="Back to the frontpage">Home</a>

  

    <span class="divider" aria-hidden="true">&rsaquo;</span>
   <span>Privacy Policy</span>

  
</nav>



<div class="grid">

  <div class="grid-item large--two-thirds push--large--one-sixth">

    <h1>Privacy Policy</h1>

    <div class="rte">
      <p>The <strong>About Us</strong> page of your shop is vital because it&#8217;s where users go when first trying to determine a level of trust.  Since trust is such an important part of selling online, it&#8217;s a good idea to give people a fair amount information about yourself and your shop.  Here are a few things you should touch on:</p>
<ul>
	<li>Who you are</li>
	<li>Why you sell the items you sell</li>
	<li>Where you are located</li>
	<li>How long you have been in business</li>
	<li>How long you have been running your online shop</li>
	<li>Who are the people on your team</li>
</ul>
<p>To edit this information you can go to the <a href="/admin/pages">Pages section</a> of the administration menu.</p>
    </div>

  </div>

</div>


  </main>




{% endblock %}