{% extends "base.html" %}
{% block title %}{{ category_name|title }} &ndash; TouchMyTab{% endblock %}
{% block content %}
{% load pagination_tags %}
{% autopaginate products 20 %}
{% paginate %}
<main class="wrapper main-content" role="main">

    <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
        <a href="/" title="Back to the frontpage">Home</a>
        <span class="divider" aria-hidden="true">&rsaquo;</span>
        <span>{{ category_name|title }}</span>
    </nav>

    <div class="grid grid-border">

        <aside class="sidebar grid-item large--one-fifth collection-filters" id="collectionFilters">
            <div class="grid-uniform">
                <div class="grid-item small--one-half medium--one-third">
                    <div class="advanced-filters">
                        {{ productfilter }}
                    </div>
                </div>
           </div>
        </aside>

        <div class="grid-item large--four-fifths grid-border--left">
            <header class="section-header">
                <h1 class="section-header--title section-header--left">{{ category_name }} </h1>
                <hr>
                <div class="section-header--right">
                    <button id="toggleFilters" class="btn btn--small right toggle-filters">Filters</button>
                </div>
            </header>
            <!--
            <script>
            myJSON = {{ my_json | safe }}
            </script>
            -->
            
            <div class="grid-uniform">
                {% if products %}
                    {% for list in products %}
                <div class="grid-item large--one-quarter medium--one-third small--one-half on-sale">
                    
                    <a href="{{ list.slug }}" class="product-grid-item">
                        
                        <div class="product-grid-image">
                            <div class="product-grid-image--centered">
                                <img src="{{ list.imgurl }}">
                            </div>
                        </div>

                        <p>{{ list.title }}</p>

                        <div class="product-item--price">
                            <span class="h1 medium--left">
                                {{ list.flipkart_price }}
                            </span>
                        </div>

                    </a>

                </div>
                    {% endfor %}
                {% else %}

                <h3 align="center">No products are available in {{ category_name|title }} </h3>

                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
