{% extends "base.html" %}
{% block title %} {{ product.title }} &ndash; TouchMyTab {% endblock %}
{% block content %}
<main class="wrapper main-content" role="main">
<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
    <a href="/" title="Back to the frontpage">Home</a>
    <span class="divider" aria-hidden="true">&rsaquo;</span>
    <a href="/{{ category_name }}" title="">{{ category_name|title}}</a>
    <span class="divider" aria-hidden="true">&rsaquo;</span>
    <span class="breadcrumb--truncate">{{ product.title }}</span>
</nav>

<div class="grid" itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="http://touchmytab.com/{{ category_name }}/{{ product.slug }}">
  <meta itemprop="image" content="{{ product.imgurl }}">

  <div class="grid-item large--two-fifths">
    <div class="grid">
      <div class="grid-item large--eleven-twelfths text-center">
        <div class="product-photo-container" id="productPhoto">
          
          <img id="productPhotoImg" src="{{ product.imgurl }}" alt="{{ product.title }}"  data-zoom="//cdn.shopify.com/s/files/1/0543/1637/products/desktop2_17e6d40f-1d4d-4851-9ff3-2f204d6b319a_grande.jpeg?v=1406642511">
        </div>
        

      </div>
    </div>

  </div>

  <div class="grid-item large--three-fifths">

    <h1 itemprop="name" class="h1">{{ product.title }}</h1>

    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

      

      <meta itemprop="priceCurrency" content="INR">
      <meta itemprop="price" content="{{ product.price }}">

      

      <ul class="inline-list product-meta">
        <li>
          <span id="productPrice" class="h1">
          	{{ product.price }}
          </span>
        </li> 
      </ul>

      <hr id="variantBreak" class="hr--clear hr--small">

      <link itemprop="availability" href="http://schema.org/InStock">
        
		<a href="{{ product.flipkart_url}}">
        <button type="submit" name="add" class="btn">
          <span class="icon icon-cart"></span>
         Buy on Flipkart for {{ product.flipkart_price }}
        </button>
        </a>
        <br>
        <br>
          <a href="{{ object.snapdealProductUrl }}">
          <button type="submit" name="add" class="btn">
          <span class="icon icon-cart"></span> 
          Buy on Snapdeal {{ product.snapdeal_price }}
        </button>
        </a>
        <br>
        <br>
        <a href="{{ object.amazonProductUrl }}">
          <button type="submit" name="add" class="btn">
          <span class="icon icon-cart"></span>
          Buy on Amazon {{ product.snapdeal_price }}
        </button>
        </a>

        <span id="variantQuantity" class="variant-quantity"></span>

      <hr>

    </div>

    <div class="product-description rte" itemprop="description">
      <p>nice</p>

    </div>

    
      



<div class="social-sharing is-normal" data-permalink="http://touchmytab.com/{{ category_name }}/{{ product.slug }}">

  
    <a target="_blank" href="//www.facebook.com/sharer.php?u=http://touchmytab.com/{{ category_name }}/{{ product.slug }}" class="share-facebook">
      <span class="icon icon-facebook"></span>
      <span class="share-title">Share</span>
      
        <span class="share-count">0</span>
      
    </a>
  

  
    <a target="_blank" href="//twitter.com/share?url=http://touchmytab.com/{{ category_name }}/{{ product.slug }}&amp;text={{ product.title }}" class="share-twitter">
      <span class="icon icon-twitter"></span>
      <span class="share-title">Tweet</span>
      
        <span class="share-count">0</span>
      
    </a>
  

  

    
      <a target="_blank" href="//pinterest.com/pin/create/button/?url=http://touchmytab.com/{{ category_name }}/{{ product.slug }}&amp;media={{ product.imgurl }}&amp;description={{ product.description }}" class="share-pinterest">
        <span class="icon icon-pinterest"></span>
        <span class="share-title">Pin it</span>
        
          <span class="share-count">0</span>
        
      </a>
    

    
      <a target="_blank" href="http://www.thefancy.com/fancyit?ItemURL=http://touchmytab.com/{{ category_name }}/{{ product.slug }}&amp;Title={{ product.title }}&amp;Category=Other&amp;ImageURL={{ product.imgurl }}" class="share-fancy">
        <span class="icon icon-fancy"></span>
        <span class="share-title">Fancy</span>
      </a>
    

  

  
    <a target="_blank" href="//plus.google.com/share?url=http://touchmytab.com/{{ category_name }}/{{ product.slug }}" class="share-google">
      <!-- Cannot get Google+ share count with JS yet -->
      <span class="icon icon-google"></span>
      
        <span class="share-count">+1</span>
      
    </a>
  

</div>

    

  </div>
</div>


  
  





  <hr>
  <h2 class="h1">Specifications</h2>
  <div class="grid-uniform">
    
    
  </div>





  <hr>
  <div id="shopify-product-reviews" data-id="330383699"><style scoped>
  
  .spr-container {
    padding: 24px;
    border-color: #ECECEC;
     
  }
  .spr-review, .spr-form {
    border-color: #ECECEC;
  }
</style>

<div class="spr-container">
  <div class="spr-header">
    <h2 class="spr-header-title">Customer Reviews</h2>

    <div class="spr-summary" itemscope itemtype="http://data-vocabulary.org/Review-aggregate">
      <meta itemprop="itemreviewed" content="Arbitron 2000" />
      <meta itemprop="votes" content="1" />
      
      <span itemprop="rating" itemscope itemtype="http://data-vocabulary.org/Rating" class="spr-starrating spr-summary-starrating">
        <meta itemprop="average" content="5.0" />
        <meta itemprop="best" content="5" />
        <meta itemprop="worst" content="1" />
        <i class='spr-icon spr-icon-star' style=''></i><i class='spr-icon spr-icon-star' style=''></i><i class='spr-icon spr-icon-star' style=''></i><i class='spr-icon spr-icon-star' style=''></i><i class='spr-icon spr-icon-star' style=''></i>
      </span>
      <span class="spr-summary-caption">
        
          
          <span class='spr-summary-actions-togglereviews'>Based on 1 review</span>
        
      </span>
      <span class="spr-summary-actions">
        <a href='#' class='spr-summary-actions-newreview' onclick='SPR.toggleForm(330383699);return false'>Write a review</a>
      </span>
    </div>
  </div>

  <div class="spr-content">
    <div class='spr-form' id='form_330383699' style='display: none'></div>
    <div class='spr-reviews' id='reviews_330383699' ></div>
  </div>

</div></div>
 <hr>
  <h3 class="h1">We Also Recommend</h3>
  <div class="grid-uniform">
    
    
    
      
        
      
    
      
        
          












<div class="grid-item large--one-fifth medium--one-third small--one-half">

  <a href="/collections/computers/products/arbitron-2000si" class="product-grid-item">
    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        
        <img src="//cdn.shopify.com/s/files/1/0543/1637/products/desktop3_ff63afce-f3d6-43ee-8967-8a137523de28_medium.jpeg?v=1406642512" alt="Arbitron 2000 Superleggara">
      </div>
    </div>

    <p>Arbitron 2000 Superleggara</p>

    <div class="product-item--price">
      <span class="h1 medium--left">
        
  199<sup>99</sup>


      </span>

      
    </div>

    
      <span class="shopify-product-reviews-badge" data-id="330383711"></span>
    
  </a>

</div>
      
    
  </div>

  <script src="//cdn.shopify.com/s/files/1/0543/1637/t/10/assets/jquery.zoom.min.js?1865" type="text/javascript"></script>



  </main>
             

{% endblock %}

