<!doctype html>
<html class="no-touch no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


    <link rel="shortcut icon" href="//cdn.shopify.com/s/files/1/0543/1637/t/10/assets/favicon.png?1865" type="image/png" />


    <!-- Title and description ================================================== -->
    <title stlye="text-transform: capitalize;">
        {% block title %}{% endblock %}
    </title>

    <!-- Product meta ================================================== -->

    <meta property="og:type" content="website">
    <meta property="og:title" content="Supply Theme Demo Shop | By Shopify">

    <meta property="og:image" content="http://cdn.shopify.com/s/files/1/0543/1637/t/10/assets/logo.png?1865">
    <meta property="og:image:secure_url" content="https://cdn.shopify.com/s/files/1/0543/1637/t/10/assets/logo.png?1865">



    <meta property="og:url" content="http://supply-electronics.myshopify.com/">
    <meta property="og:site_name" content="Digitalshop">


    <meta name="twitter:site" content="@VaibhavMule">


    <!-- Helpers ================================================== -->
    <link rel="canonical" href="http://supply-electronics.myshopify.com/">
    <meta name="viewport" content="width=device-width,initial-scale=1">


    <!-- Ajaxify Cart Plugin ================================================== -->
    <link href="//cdn.shopify.com/s/files/1/0543/1637/t/10/assets/ajaxify.scss.css?1865" rel="stylesheet" type="text/css" media="all" />


    <!-- CSS ================================================== -->
    <link href="//cdn.shopify.com/s/files/1/0543/1637/t/10/assets/timber.scss.css?1865" rel="stylesheet" type="text/css" media="all" />

    <link href="//fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet" type="text/css" media="all" />

    <link href="//fonts.googleapis.com/css?family=Dosis:600" rel="stylesheet" type="text/css" media="all" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
    <script src="//cdn.shopify.com/s/files/1/0543/1637/t/10/assets/modernizr.min.js?1865" type="text/javascript"></script>
    <script src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>
    <script src="/static/site.css"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56377099-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body id="supply-theme-demo-shop-by-shopify" class="template-index">
    <nav class="nav-bar" role="navigation">
        <div class="wrapper">

            <ul class="site-nav" id="accessibleNav">
                <li><a href="/">TouchMyTab<sup style="color:red; font-size:0.8em;"><b>Alpha 1.0</b></sup></a>
                </li>



                <li>
                    <a href="/mobiles">
          Mobiles
        </a>
                </li>




                <li>
                    <a href="/tablets">
          Tablets
        </a>
                </li>




                <li>
                    <a href="/smartwatches">Smart Watches<sup style="color:red;">New</sup></a>
                </li>


                <li>
                    <a href="/laptops">
          Laptops
        </a>
                </li>


                <li>
                    <a href="/cameras">Cameras</a>
                </li>

            </ul>

        </div>
    </nav>

    <div id="mobileNavBar">
        <div class="display-table-cell">
            <a class="menu-toggle mobileNavBar-link">Menu</a>
        </div>
        <div class="display-table-cell">
            <a href="/cart" class="cart-toggle mobileNavBar-link">
                <span class="icon icon-cart"></span>
                Cart
            </a>
        </div>
    </div>
    {% block content %}{% endblock %}
    {% block footer %}
    <footer class="site-footer small--text-center" role="contentinfo">

        <div class="wrapper">

            <div class="grid">


                <div class="grid-item medium--one-half large--three-twelfths">
                    <h3>Quick Links</h3>
                    <ul>

                        <li><a href="/search">Search</a>
                        </li>

                        <li><a href="/about">About Us</a>
                        </li>

                        <li><a href="/blogs">Blog</a>
                        </li>

                    </ul>
                </div>



                <div class="grid-item medium--one-half large--five-twelfths">
                    <h3>Get In Touch</h3>
                    <p>

                        Come visit our store at 5-500 Bowling Ave, Ohio

                    </p>


                    <ul class="inline-list social-icons">

                        <li>
                            <a class="icon-fallback-text" href="https://twitter.com/shopify" title="Digitalshop on Twitter">
                                <span class="icon icon-twitter" aria-hidden="true"></span>
                                <span class="fallback-text">Twitter</span>
                            </a>
                        </li>


                        <li>
                            <a class="icon-fallback-text" href="https://facebook.com/shopify" title="Digitalshop on Facebook">
                                <span class="icon icon-facebook" aria-hidden="true"></span>
                                <span class="fallback-text">Facebook</span>
                            </a>
                        </li>


                        <li>
                            <a class="icon-fallback-text" href="http://www.pinterest.com/shopify/" title="Digitalshop on Pinterest">
                                <span class="icon icon-pinterest" aria-hidden="true"></span>
                                <span class="fallback-text">Pinterest</span>
                            </a>
                        </li>


                        <li>
                            <a class="icon-fallback-text" href="https://plus.google.com/+shopify" title="Digitalshop on Google">
                                <span class="icon icon-google" aria-hidden="true"></span>
                                <span class="fallback-text">Google</span>
                            </a>
                        </li>


                        <li>
                            <a class="icon-fallback-text" href="http://instagram.com/shopify" title="Digitalshop on Instagram">
                                <span class="icon icon-instagram" aria-hidden="true"></span>
                                <span class="fallback-text">Instagram</span>
                            </a>
                        </li>



                        <li>
                            <a class="icon-fallback-text" href="http://www.youtube.com/user/shopify" title="Digitalshop on YouTube">
                                <span class="icon icon-youtube" aria-hidden="true"></span>
                                <span class="fallback-text">YouTube</span>
                            </a>
                        </li>


                        <li>
                            <a class="icon-fallback-text" href="http://vimeo.com/shopify" title="Digitalshop on Vimeo">
                                <span class="icon icon-vimeo" aria-hidden="true"></span>
                                <span class="fallback-text">Vimeo</span>
                            </a>
                        </li>


                    </ul>

                </div>



                <div class="grid-item large--one-third">
                    <h3>Newsletter</h3>

                    <form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
                        <input type="email" value="" placeholder="Email Address" name="EMAIL" id="mail" class="input-group-field" aria-label="Email Address" autocorrect="off" autocapitalize="off">
                        <span class="input-group-btn">
                            <input type="submit" class="btn-secondary btn--small" value="Sign Up" name="subscribe" id="subscribe">
                        </span>
                    </form>
                </div>

            </div>

            <hr class="hr--small">

            <div class="grid">
                <div class="grid-item">

                    <ul class="legal-links inline-list">

                        <li><a href="/about">Terms & Conditions</a>
                        </li>

                        <li><a href="/privacy">Privacy Policy</a>
                        </li>

                    </ul>

                    <ul class="legal-links inline-list">
                        <li>
                            &copy; 2014 <a href="/">TouchMyTab</a>
                        </li>
                    </ul>
                </div>



            </div>

        </div>

    </footer>
    {% endblock %}
    
</body>

</html>
